// Color
$white: #fff;
$accent: hsl(275, 100%, 25%);
$yellow: hsl(39, 100%, 50%);
$red: hsl(0, 100%, 50%);
$green: hsl(120, 97%, 30%);

// Border
$borderRadius: 4px;

// Shadow
$shadowElevation: 0.3px 0.5px 0.7px hsl(286deg 19% 58% / 0.36),
  0.8px 1.6px 2px -0.8px hsl(286deg 19% 58% / 0.36),
  2.1px 4.1px 5.2px -1.7px hsl(286deg 19% 58% / 0.36),
  5px 10px 12.6px -2.5px hsl(286deg 19% 58% / 0.36);
